* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
}

.wrapper-inner {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*header*/

header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #415e89;
}

header .wrapper-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    padding-right: 20px;
}

nav a:hover {
    color: red;
    transition: .4s;
}

header .wrapper-inner a:hover {
    color: red;
    transition: .4s;
}

.burger {
    display: none;
}

.right-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 0;
}

.language-version {
    display: flex;
    flex-direction: row;
}

.english {
    width: 30px;
    height: 15px;
    background: url("../images/union-jack.jpg") no-repeat;
    background-size: cover;
    margin: 0 10px;
}

.language-version a {
    font-size: 14px;
    text-decoration: underline;
    color: white;
}

/*-------------------- CUSTOM SELECT ----------------*/

header .wrapper-inner .custom-select {
    position: relative;
    /*right: 155px;*/
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header .wrapper-inner .custom-select input {
    display: none;
}

header .wrapper-inner .custom-select .current-value {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
}

header .wrapper-inner .custom-select .current-value:hover {
    color: #ff0000;
}

header .wrapper-inner .custom-select ul {
    display: none;
    width: 200px;
    padding: 20px;
    background: #fff;
    border: 1px solid #415e89;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
}

header .wrapper-inner .custom-select ul:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-top: 1px solid #415e89;
    border-left: 1px solid #415e89;
    position: absolute;
    right: 25px;
    top: -4px;
    transform: rotate(45deg);
}

header .wrapper-inner .custom-select ul li {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    list-style: none;
    cursor: pointer;
    padding: 10px;
}

header .wrapper-inner .custom-select ul li:hover,
header .wrapper-inner .custom-select ul li.active {
    color: #ff0000;
}

@media (max-width: 1220px) {
    .wrapper-inner {
        padding: 0 15px;
    }
}

@media (max-width: 1190px) {
    nav a, header .wrapper-inner .custom-select .current-value {
        font-size: 14px;
    }
}

@media (max-width: 950px) {
    nav {
        width: 100%;
        height: calc(100vh - 46px);
        position: fixed;
        left: 0;
        bottom: -150%;
        background: white;
        z-index: 101;
        transition: .8s;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    nav.active {
        bottom: 0;
    }

    nav a {
        display: block;
        color: #415e89;
        padding: 15px;
    }

    .burger {
        display: block;
        font-size: 30px;
        color: white;
    }
}

@media (max-width: 560px) {
    .language-version a, header .wrapper-inner .custom-select .current-value {
        font-size: 10px;
    }

    .burger {
        font-size: 24px;
    }

    header .wrapper-inner .custom-select ul {
        width: 150px;
        padding: 0;
    }

    header .wrapper-inner .custom-select ul li {
        text-transform: none;
    }
}

/*slider*/

.slider {
    width: 1250px;
    margin: 0 auto;
}

.slick-slider {
    top: 45px;
}

.slide .image {
    display: block;
    margin: 0 auto;
}

.slide-1, .slide-2, .slide-3 {
    width: 1250px;
    height: 701px;
}

.slide-1 {
    background: url("../slides/slide-1.jpg") center center;
    background-size: cover;
}

.slide-2 {
    background: url("../slides/slide-2.jpg") center center;
    background-size: cover;
}

.slide-3 {
    background: url("../slides/slide-3.jpg") center center;
    background-size: cover;
}

button:active,
button:focus {
    outline: none;
}

.slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    margin: 5px;
}

.slick-dots li button {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #7f7f7f;
    color: transparent;
    border: 2px solid #4099d5;
    transition: .4s;
}

.slick-dots li button:hover {
    opacity: .5;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background: white;
}

.slide {
    position: relative;
}

.ad-upper {
    position: absolute;
    left: 30px;
    bottom: 113px;
    width: 553px;
    height: 228px;
    background: rgba(89, 119, 157, .5);
    font-size: 48px;
    color: white;
    padding: 20px 0 0 55px;
}

.ad-upper a {
    font-size: 36px;
    color: white;
    text-decoration: underline;
}

.ad-upper a:hover {
    color: #4099d5;
    transition: .4s;
}

@media (max-width: 1280px) {
    .slider {
        width: calc(100% - 30px);
        margin: 0 15px;
    }

    .slide-1, .slide-2, .slide-3 {
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 1000px) {
    .ad-upper {
        width: 350px;
        height: 150px;
        font-size: 30px;
        padding: 15px 0 0 35px;
    }

    .ad-upper a {
        font-size: 24px;
    }

    .slick-dots li button {
        width: 26px;
        height: 26px;
    }
}


@media (max-width: 750px) {
    .slide-1, .slide-2, .slide-3 {
        height: 400px;
    }

    .ad-upper {
        width: 250px;
        height: 120px;
        font-size: 24px;
        padding: 10px;
    }

    .ad-upper a {
        font-size: 16px;
    }

    .slick-dots li button {
        width: 20px;
        height: 20px;
    }
}

/*main*/

h1 {
    font-size: 36px;
    font-weight: normal;
    color: #808080;
    text-transform: uppercase;
    padding: 70px 0 50px 0;
    text-align: center;
}

@media (max-width: 960px) {
    h1 {
        font-size: 30px;
        padding: 30px 0;
    }

    #service h1 {
        padding-top: 60px;
    }
}

/* service-bar */

.service-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-item {
    width: 198px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-title {
    text-align: center;
    padding: 10px 0;
}

.service-title a {
    color: #808080;
}

.image-1 {
    width: 103px;
    height: 113px;
    background: url("../images/image-1.png") no-repeat;
    background-size: cover;
    flex-shrink: 0;
}
.image-2 {
    width: 124px;
    height: 112px;
    background: url("../images/image-2.png") no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.image-3 {
    width: 121px;
    height: 114px;
    background: url("../images/image-3.png") no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.image-4 {
    width: 139px;
    height: 113px;
    background: url("../images/image-4.png") no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.image-5 {
    width: 135px;
    height: 117px;
    background: url("../images/image-5.png") no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.image-6 {
    width: 130px;
    height: 118px;
    background: url("../images/image-6.png") no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

@media (max-width: 1130px) {
    .service-bar {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .image-1, .image-2, .image-3, .image-4, .image-5, .image-6 {
        background-size: 80% 80%;
        background-position: center bottom;
    }
}

/* figures-bar */

.figures-bar {
    width: 100%;
    background-color: #e9e9e9;
}

.counter-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

.block {
    width: 238px;
    flex-shrink: 0;
}

.count {
    font-size: 60px;
    font-weight: bold;
    color: #0097dc;
}

.data {
    color: #808080;
    font-size: 22px;
}

@media (max-width: 1210px) {
    .counter-bar {
        flex-wrap: wrap;
        justify-content: center;
    }
    .data {
        font-size: 16px;
    }
}

@media (max-width: 950px) {
    #about h1 {
        padding-top: 60px;
    }
}

/* transport */

.company-transport {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: flex-end;
    margin: 0 auto;
}

.transport {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transport .image-1 {
    width: 151px;
    height: 114px;
    background: url("../images/avia.png") no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.transport .image-2 {
    width: 153px;
    height: 148px;
    background: url("../images/sea.png") no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.transport .image-3 {
    width: 115px;
    height: 136px;
    background: url("../images/truck.png") no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.transport-title {
    padding: 10px 0;
}

.transport-title a {
    font-size: 24px;
    color: #0097dc;
}

.transport-title a:hover {
    color: #808080;
}

@media (max-width: 1000px) {
    .transport-title a {
        font-size: 16px;
    }
}

@media (max-width: 660px) {
    .company-transport {
        flex-direction: column;
        align-items: center;
    }
}

/* advantages */

.advantages-bar {
    background-color: #0096dc;
}

.advantages-bar .wrapper-inner h1 {
    color: white;
}

.advantages-bar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: list;
    list-style: none;
    padding-bottom: 30px;
}

.advantages-bar li {
    position: relative;
    padding: 0 0 15px 90px;
    width: calc(50% - 10px);
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.15;
}

.advantages-bar ul > li:before {
    content: counter(list) "";
    counter-increment: list;
    display: inline-block;
    position: absolute;
    left: 0;
    color: #555555;
    font-size: 60px;
    font-weight: 700;
    background: white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 1150px) {
    .advantages-bar li {
        font-size: 16px;
        font-weight: normal;
        padding-left: 75px;
    }

    .advantages-bar ul > li:before {
        font-size: 40px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media (max-width: 850px) {
    .advantages-bar ul {
        flex-direction: column;
        align-items: center;
    }

    .advantages-bar li {
        width: calc(100% - 30px);
        padding:  0 0 25px 55px;
    }

    .advantages-bar ul > li:before {
        font-size: 30px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

/* information-bar */

.information-bar {
    padding-bottom: 60px;
}

.information-bar .wrapper-inner h2 {
    font-size: 36px;
    color: #808080;
    padding: 50px 0 30px 0;
    text-align: center;
    line-height: 1;
    font-weight: normal;
}

.information-bar .wrapper-inner p {
    font-size: 18px;
    color: #808080;
    padding: 6px 0;
}

@media (max-width: 1280px) {
    .information-bar .wrapper-inner h2 {
        font-size: 28px;
    }
}

@media (max-width: 1010px) {
    .information-bar {
        padding-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .information-bar .wrapper-inner p {
        font-size: 16px;
    }
}

/* button */

.get-service .wrapper-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 25px;
}

.get-modal {
    width: 530px;
    height: 118px;
    background-color: #0096dc;
    border-radius: 10px;
    border: none;
    transition: .4s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 48px;
    color: white;
}

.get-modal:hover {
    box-shadow: 10px 10px 7px -2px rgba(173,173,173,1);
    transition: .4s;
}
 @media (max-width: 1010px) {
     .get-modal {
         width: 450px;
         height: 100px;
         font-size: 36px;
     }
 }

@media (max-width: 600px) {
    .get-modal {
        width: 300px;
        height: 80px;
        font-size: 24px;
    }
}

/*  footer  */

footer {
    max-width: 100%;
    background-color: #a7a7a7;
}

footer .wrapper-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    position: relative;
}

footer .wrapper-inner p {
    font-size: 14px;
    color: #3f3e3e;
}

.copyright, address {
    width: 30%;
}

address {
    display: block;
    font-style: normal;
    margin-right: 68px;
}

address a {
    font-size: 14px;
    color: #3f3e3e;
    text-decoration: underline;
}

address a:hover {
    color: #0096dc;
    cursor: pointer;
}

.arrow-icon {
    width: 58px;
    height: 57px;
    background: url("../images/arrow-up.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

@media (max-width: 1220px) {
    footer .wrapper-inner {
        padding: 30px 15px;
    }
}

@media (max-width: 1180px) {
    .copyright, address {
        width: 40%;
    }
}

@media (max-width: 850px) {
    footer .wrapper-inner {
        flex-direction: column;
    }

    .copyright, address {
        width: calc(100% - 30px);
        padding-right: 75px;
    }
     address {
         margin-right: 0;
         padding-top: 10px;
     }

    footer .wrapper-inner p, address a {
        font-size: 10px;
    }
}

/*  modal  */

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    width: 706px;
    height: 280px;
    padding: 25px;
    position: relative;
    border-radius: 10px;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: 700;
    font-size: 20px;
}

.close-modal:hover {
    cursor: pointer;
}

input[type="text"],
input[type="email"] {
    width: 275px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 45px;
    vertical-align: middle;
    padding-left: 10px;
    margin: 20px 0;
    font-family: "Open Sans";
    font-size: 17px;
}

.send-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.send-info {
    width: 153px;
    height: 46px;
    background: url("../images/button-modal.png") no-repeat;
    background-size: cover;
    border: transparent;
    color: white;
    font-size: 14px;
}

.send-info:hover {
    font-size: 18px;
    transition: .4s;
}

.client-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-test label {
    display: block;
    width: 47.5%;
}

.form-test label input {
    display: block;
    width: 100%;
    height: 46px;
    padding: 0 20px;
}

.select {
    width: 70%;
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 46px;
    margin: 20px auto;
}

.country {
    position: relative;
    line-height: 46px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 51px 0 20px;
    font-family: "Open Sans";
    font-size: 17px;
    color: #909090;
}

.country:before {
    content: '';
    width: 1px;
    height: 100%;
    right: 46px;
    position: absolute;
    top: 0;
    background: lightgrey;
}

.country:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid green;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 17px;
    transition: .4s;
}

.select input {
    display: none;
}

.select ul {
    display: none;
    width: calc(100% - 45px);
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    z-index: 1;
    border: 1px solid grey;
    padding: 10px 20px;
}

.select ul li {
    display: block;
    border-bottom: 1px solid grey;
    padding: 7px 20px 7px 0;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 17px;
    color: #909090;
}

.select ul li.active {
    color: red;
}

.select ul li:last-child {
    border: none;
}

.select.active ul {
    display: block;
}

.select.active .country:after {
    transform: rotate(180deg);
}

@media (max-width: 760px) {
    .modal-inner {
        width: calc(100% - 30px);
        height: fit-content;
    }

    .client-data {
        flex-direction: column;
        align-items: center;
    }
    .form-test label {
        width: calc(100% - 30px);
    }

    .select {
        width: calc(100% - 30px);
    }
}
